.container {
  width: 50px;
}

.main-icon {
  cursor: pointer;
}

.title {
  margin: 10px;
}

.dropdown {
  width: 256px;
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);
  border-radius: 12px;
  position: absolute;
  z-index: 1;
}

.dropdown-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.color {
  padding: 7px;
  cursor: pointer;
}
.icon {
  padding: 7px;
  cursor: pointer;
}

.color:hover {
  background-color: rgba(175, 238, 238, 0.5);
}

.picked {
  background-color: rgba(175, 238, 238, 0.5);
}