.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-habit {
  width: 500px;
  height: 350px;
}

.cross {
  position: relative;
  width: 25px;
  height: 25px;
  left: 485px;
  top: 40px;
  cursor: pointer;
  color: rgb(184, 184, 184);
}

.cross:hover {
  color: #666;
}