$color1: #e4b1ff;
$color2: #ffade2;
$color3: #ffb4c0;
$color4: #ffc4a4;
$color5: #ffd996;
$color6: #ffd996;
$color7: #d0ffb9;

.color1,
.color1-hovered:hover {
  background-color: $color1;
}

.border-color1 {
  border: 2px solid $color1;
}

.color2,
.color2-hovered:hover {
  background-color: $color2;
}

.border-color2 {
  border: 2px solid $color2;
}

.color3,
.color3-hovered:hover {
  background-color: $color3;
}

.border-color3 {
  border: 2px solid $color3;
}

.color4,
.color4-hovered:hover {
  background-color: $color4;
}

.border-color4 {
  border: 2px solid $color4;
}

.color5,
.color5-hovered:hover {
  background-color: $color5;
}

.border-color5 {
  border: 2px solid $color5;
}

.color6,
.color6-hovered:hover {
  background-color: $color6;
}

.border-color6 {
  border: 2px solid $color6;
}

.color7,
.color7-hovered:hover {
  background-color: $color7;
}

.border-color7 {
  border: 2px solid $color7;
}