.red,
.red-hovered:hover {
    background-color: rgba(178, 34, 34, 0.5);
}
.border-red {
    border: 2px solid rgba(178, 34, 34, 0.5);
}
.green,
.green-hovered:hover {
    background-color: rgba(60, 179, 113, 0.5);
}
.border-green {
    border: 2px solid rgba(60, 179, 113, 0.5);
}
.blue,
.blue-hovered:hover {
    background-color: rgba(0, 0, 139, 0.5);
}
.border-blue {
    border: 2px solid rgba(0, 0, 139, 0.5);
}
.magenta,
.magenta-hovered:hover {
    background-color: rgba(139, 0, 139, 0.5);
}
.border-magenta {
    border: 2px solid rgba(139, 0, 139, 0.5);
}
.yellow,
.yellow-hovered:hover {
    background-color: rgba(218, 165, 32, 0.5);
}
.border-yellow {
    border: 2px solid rgba(218, 165, 32, 0.5);
}
.lightblue,
.lightblue-hovered:hover {
    background-color: rgba(135, 206, 235, 0.5);
}
.border-lightblue {
    border: 2px solid rgba(135, 206, 235, 0.5);
}
.orange,
.orange-hovered:hover {
    background-color: rgba(255, 165, 0, 0.5);
}
.border-orange {
    border: 2px solid rgba(255, 165, 0, 0.5);
}