.red,
.red-hovered:hover {
    background-color: rgb(178, 34, 34);
}
.border-red {
    border: 2px solid rgb(178, 34, 34);
}
.green,
.green-hovered:hover {
    background-color: rgb(60, 179, 113);
}
.border-green {
    border: 2px solid rgb(60, 179, 113);
}
.blue,
.blue-hovered:hover {
    background-color: rgb(0, 0, 139);
}
.border-blue {
    border: 2px solid rgb(0, 0, 139);
}
.magenta,
.magenta-hovered:hover {
    background-color: rgb(139, 0, 139);
}
.border-magenta {
    border: 2px solid rgb(139, 0, 139);
}
.yellow,
.yellow-hovered:hover {
    background-color: rgb(218, 165, 32);
}
.border-yellow {
    border: 2px solid rgb(218, 165, 32);
}
.lightblue,
.lightblue-hovered:hover {
    background-color: rgb(135, 206, 235);
}
.border-lightblue {
    border: 2px solid rgb(135, 206, 235);
}
.orange,
.orange-hovered:hover {
    background-color: rgb(255, 165, 0);
}
.border-orange {
    border: 2px solid rgb(255, 165, 0);
}